_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
# =======================
# EDITOR
# =======================
*.swp
*.swo
*.tmp
*.bak
.idea/
.vscode/
*.code-workspace
# =======================
# LOG DAN CACHE
# =======================
*.log
*.out
*.cache
*.pid
*.pid.lock
logs/
tmp/
# =======================
# NODE.JS
# =======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/